.tree-view{
  overflow: auto;
}

@media (max-width: 48em) {
  .tree-view{
    max-height: 500px;
  }
}

.tree-view_list {
  padding-left: 20px;
  list-style-type: none;
}

.tree-view_root{
  padding-left: 0px;
}

.tree-view_label {
  display: inline-block;
  color: black;
}

.tree-view_node-hasChildren {
  padding-left: 0px;
}

.tree-view_node-active{
  font-weight: bold;
}

.tree-view_node-collapsed .tree-view_list {
  display: none;
}
